/* GENERAL */
body{
    font-family: "Comic Sans MS", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

.container > * {
    background: cyan;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

 /* GRID */

.container{
    display: grid;
    grid-template-areas: "heder heder"
                          "nav nav"
                          "main saidbar1"
                          "main saidbar2";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5em;
}

.a{
    grid-column: main;
    grid-row: main;
    background: fuchsia;
}

.b{
    grid-column: heder;
    grid-row: heder;
    background: cornflowerblue;
}

.c{
    grid-column: nav;
    grid-row: nav;
    background: red;
}

.d{
    grid-column: saidbar1;
    grid-row: saidbar1;
    background: mediumvioletred;
}

.e{
    grid-column: saidbar2;
    grid-row: saidbar2;
    background: plum;
}
