/* GENERAL */
body{
    font-family: "Comic Sans MS", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

.container > * {
    background: cyan;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.container > * {
    margin-bottom: 1.5em;
}
 /* GRID */

.container{
    display: grid;
    grid-template-areas: "heder"
                          "nav"
                          "main saidbar1"
                          "main saidbar2";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5em;
}